alias grep='grep --color=auto'
alias ls='ls -Ah --color=force'

alias lsf='find -L . -maxdepth 1 -type f -print0 | sed s:\./::g | xargs -0r ls -Ah --color=force'
alias lsd='find -L . -maxdepth 1 -type d -print0 | sed s:\./::g | xargs -0r ls -d -Ah --color=force'

#Let's leave dir raw
alias ping='ping -c 5'
alias rm='rm -I'
alias x='exit'

alias sshx='ssh -CX'

alias less='less -R'

alias servedir='python -m SimpleHTTPServer 9321'

alias mplayer='mplayer -ass -embeddedfonts -ass-line-spacing 0 -vo xv -dr -sub-fuzziness 1 -alang eng -af-add volnorm >/dev/null -framedrop'

alias lss='ls -lctr' # Long listing format, sort by modification time, reverse sort(latest first), by modification time

if [[ $SHELL_CHECK == "zsh" ]] ; then
    alias reload='source ~/.zshrc';
elif [[ $SHELL_CHECK == "bash" ]] ; then
    alias reload='source ~/.bashrc';
fi

alias xev-kb="xev | grep -A2 --line-buffered '^KeyRelease' | sed -n '/keycode /s/^.*keycode \([0-9]*\).* (.*, \(.*\)).*$/\1 \2/p'"

alias randdir='python -c "import random, os; print(random.choice(os.listdir(\".\")))"'

alias my-rofi="rofi -location 1 -terminal urxvt -modi run,window,combi -show combi -combi-modi drun,run,window -columns 3 -width 100 -dpi 72"