mkcd() {
    mkdir -p "$1" && cd "$1";
}

###
##Package management functions follow
###

#Install a package
i() {
    local COMMAND=""
    if [[ $(which apt-get | wc -l) == "1" ]]; then
        COMMAND="apt-get install "
    else
        echo "No package manager I know installed, exiting"
        return 0
    fi
    if [[ "$UID" != 0 ]]; then
        if [[ $(which sudo | wc -l) == "1" ]]; then
            COMMAND="sudo "$COMMAND;
        elif [[ $(which su | wc -l) == "1" ]]; then
            echo "You don't have sudo installed, using su; Type root password to continue";
            COMMAND="su -c \""$COMMAND:"\"";
        else
            echo "Error, no su or sudo present, don't know what to do";
        fi
    fi
    COMMAND=$COMMAND$*
    eval $COMMAND
}

#Uninstall a package
ui() {
    local COMMAND=""
    if [[ $(which apt-get | wc -l) == "1" ]]; then
        COMMAND="apt-get remove "
    else
        echo "No package manager I know installed, exiting"
        return 0
    fi
    if [ "$UID" != 0 ]; then
        if [[ $(which sudo | wc -l) == "1" ]]; then
            COMMAND="sudo "$COMMAND;
        elif [[ $(which su | wc -l) == "1" ]]; then
            echo "You don't have sudo installed, using su; Type root password to continue";
            COMMAND="su -c \""$COMMAND:"\"";
        else
            echo "Error, no su or sudo present, don't know what to do";
        fi
    fi
    COMMAND=$COMMAND$*
    eval $COMMAND
}

#Find a package
fp() {
    local COMMAND=""
    if [[ $(which apt-cache | wc -l) == "1" ]]; then
        COMMAND="apt-cache search "
    else
        echo "No package manager I know installed, exiting"
        return 0
    fi
    COMMAND=$COMMAND$*
    eval $COMMAND
}

#Launch torrents :3
t() {
    if [[ -d "/media/You will die" ]] ; then
        if [ "$(ps -ef | grep -c deluged)" = 1 ]; then
            deluged;
        fi
        deluge-console;
    else
        echo "Your trololent drive is not mounted!"
    fi
}

#View a website in links2
glinks() {
    local COMMAND="links2"
    if [[ $DISPLAY != "" ]] ; then
        COMMAND="$COMMAND -g"
    fi
    if [[ $* == "" ]] ; then
        COMMAND="$COMMAND 'www.google.com'"
    else
        COMMAND="$COMMAND '$*'"
    fi
    if [[ $DISPLAY != "" ]] ; then
        COMMAND="$COMMAND &"
    fi
    eval $COMMAND
}
#Or directly google something
google() {
    local TARGET='http://www.google.com/search?q='$*;
    glinks $TARGET;
}

#Or wiki it
wiki() {
    local TARGET='http://en.wikipedia.org/wiki/Special:Search?search='$*;
    glinks $TARGET;
}

#I think this deserves "Hack of the century award"
flvsave() {
    if [[ $1 == "" ]] ; then
        local SAVE_DIR="/home/$USERNAME/Downloads/flash"
    else
        local SAVE_DIR="$1"
    fi
    if [[ ! -d "$SAVE_DIR" ]] ; then
        mkdir "$SAVE_DIR";
    fi
    local FLV_STREAM_COUNT=$(lsof +L1 -anPT | grep FlashXX | wc -l);
    if [[ $FLV_STREAM_COUNT > 0 ]] ; then
        if [[ $FLV_STREAM_COUNT == 1 ]] ; then
            echo "Found one open flash stream:";
        else
            echo "Found $FLV_STREAM_COUNT flash videos being streamed:";
        fi
        eval $(lsof +L1 | grep FlashXX | awk '{ print "export " substr($10, 6) "=" $7 ";"; }') #Save video sizes into environment variables
        sleep 2; #Wait a bit so they can load if they're still loading
        echo "Videos still loading:"
        lsof +L1 | grep FlashXX | awk 'ENVIRON[substr($10, 6)] != $7 {
            print "  " $2 "/" $1 " " $10 " (" $7 / 1024 / 1024 " MiB+)";
        }'
        echo "Fully loaded videos:";
        lsof +L1 | grep FlashXX | awk 'ENVIRON[substr($10, 6)] == $7 {
            print "  " $2 "/" $1 " " $10 " (" $7 / 1024 / 1024 " MiB)";
        }' #Check if video sizes are still the same
        echo "Saving fully loaded videos to $SAVE_DIR";

        lsof +L1 -anPT | grep FlashXX | awk -v save_dir=$SAVE_DIR 'ENVIRON[substr($10, 6)] == $7 {
            print "cp -n /proc/" $2 "/fd/" substr($4, 1, length($4)-1) " " save_dir "/" substr($10, 13) ".flv";
        }' | sh;

        echo "Done";
    fi
}

ccat() {
    src-hilite-lesspipe.sh $1;
}

cless() {
    HIGHLIGHTED_TEXT=$(source-highlight -f esc -i $1)
    if [[ "$?" == "0" ]] ; then
        echo "$HIGHLIGHTED_TEXT" | less -R
    else
        less $1
    fi
}

zipdirs() {
    ls -1 --color=never | awk '{print "zip -r \"" $0 ".zip\" \"" $0 "\""}' | sh
}

pause() {
    for pname in $@ ; do
        pkill -SIGSTOP $pname;
    done
}

resume() {
    for pname in "$@" ; do
        pkill -SIGCONT $pname
    done
}

toggle() {
    local STATE=""
    for pname in "$@" ; do
        local PID=$(ps -eo pid,comm | grep "$pname" | awk '{print $1}')

        if [[ $PID != "" ]] ; then
            if [[ $STATE == "" ]] ; then
                STATE=$(cat /proc/$PID/status | grep "State:" | awk '{print $2}')
            fi

            local RETCODE=0

            #T for paused, R for running
            if [[ $STATE == "T" ]] ; then
                kill -SIGCONT $PID
                RETCODE="$?"
                echo -n "Resuming "$C_YELLOW"$pname"
            else
                kill -SIGSTOP $PID
                RETCODE="$?"
                echo -n "Pausing "$C_CYAN"$pname"
            fi
            if [[ $RETCODE != 0 ]] ; then
                echo $C_NONE" ["$E_BOLD$C_RED"Failure"$C_NONE"]"
            else
                echo $C_NONE" ["$E_BOLD$C_GREEN"Success"$C_NONE"]"
            fi
        fi
    done
}

CPU_HOGS="conky tmux_network_us"
CPU_HOGS="$CPU_HOGS opera-next chromium firefox luakit"
CPU_HOGS="$CPU_HOGS apt-get dpkg rred"

hogs() {
    toggle $(echo $CPU_HOGS)
}

new_session() {
    DNUM=`echo $DISPLAY | sed 's/\..*$//'`
    echo reserve > /var/run/xdmctl/xdmctl-$DNUM
}

remount() {
    sudo umount "/media/asmageddon/You will die"
    sudo umount "/media/asmageddon/UWAGA - Menele"
    sudo mount /dev/sdc2 "/media/You will die"
    sudo mount /dev/sdc1 "/media/UWAGA - Menele"
}
