[user]
	name = Asmageddon
	email = Asmageddon@gmail.com
[github]
	user = asmageddon
	token = 3201830280dd977556eb906ba2614e93
[color]
	ui = true
	branch = true
	diff = true
[format]
	pretty = %C(YELLOW)%h %Creset%s (%C(CYAN)%cn %C(RED)%cr%Creset)
[push]
	default = upstream
